.dx {
    border-left-style: solid;
    border-left-width: 7px;
    border-left-color: var(--danger);
    border-radius: 8px;
  }

  table td{
      font-size: 14px;
      i{
          font-size: 18px;
          cursor: pointer;
      }
  }
  