.card-title{font-weight: 600;}
.card-text{opacity: 0.7;}
.vh-80{height: 75vh;}
table img{height: 25px;}
table td{vertical-align: bottom;}
table thead th{background: #fff !important;border-bottom: 0;}