.dx {
    border-left-style: solid;
    border-left-width: 7px;
    border-left-color: var(--danger);
    border-radius: 8px;
  }

  table td{
      font-size: 14px;
      i{
          font-size: 18px;
          cursor: pointer;
      }
  }

  .form-control{font-size: 13px;}
  

  .calendarNew {
    position: relative;
    i {
        position: absolute;
        top: 8px;
        right: 10px;
        cursor: pointer;
    }
    .clo{
        position: absolute;
        top: 7px;
        right: 5px;
        cursor: pointer;
    }
}

.total td strong{font-size: 16px !important;font-weight: 700 !important;}

.btn-primary{font-size: 13px;}